@font-face {
    font-family: 'fontello';
    src: url('font/fontello.eot?21027825');
    src: url('font/fontello.eot?21027825#iefix') format('embedded-opentype'),
         url('font/fontello.woff2?21027825') format('woff2'),
         url('font/fontello.woff?21027825') format('woff'),
         url('font/fontello.ttf?21027825') format('truetype'),
         url('font/fontello.svg?21027825#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}  
.icon-basket {
    font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      text-align: center;
      font-size: 2em;
}

body {
background:
radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px,
linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
background-color: slategray;
background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
padding: 0 50px;
}
.header {
    background-color: rgba(0,0,0,0.6);
    min-height: 50px;
    display: flex;
    justify-content: flex-end;
}
.header-name {
    color: whitesmoke;
    margin: auto;
    font-size: 3em;
    font-family: monospace;
}
.header-logo {
    color: whitesmoke;
    margin: auto 50px;
}
.cart-button {
    margin: 10px 50px;
    width: 50px;
    border-radius: 10px;
    outline: none;
}
main {
    background-color: rgba(0,0,0,0.4);
}
.goods-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.goods-item {
    text-align: center;
    margin: 10px;
    background-color: lightgray;
    border: 4px solid darkgray;
    border-radius: 10px;   
}