.mainBody {
    width: 85%;
    margin: auto;
}


.mainHeader {
    height: 100px;
    background-color: #343a40;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cart-button {
    margin-right: 20px;
}

.goods-list {
    display: flex;
    justify-content: space-evenly;
    
}

.goods-item {
    margin-top: 20px;
    text-align: center;
   height: 150px;
    width: 150px;
   border: 1px solid black; 
}